{
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
  }

body {
    margin: 0;
}
h1 {
    color: darkred;
    font-family: "Trirong", Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    color: darkred;
    text-transform: uppercase;
    font-family: Georgia, serif;
}
h3 {
    font-family: Georgia, serif;
}

h4 {
    font-family: Georgia, serif;
    font-style: italic;
}
h5 { 
    font-family: Verdana, sans-serif;
    text-align: center;
}
p {
    font-family: Verdana, sans-serif;   
}
a {
    color: brown;
}


.topnav {
    overflow: hidden;
    background-color: darkred;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: rgb(245, 227, 208);
    color: black;
  }
  
  .content {
    background-color: rgb(245, 227, 208);
  }
  
  .footer {
    background-color: #f1f1f1;
  }