body {
    background-color: rgb(245, 227, 208);
}
h1 {
    color: darkred;
    font-family: "Trirong", Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    color: darkred;
    text-transform: uppercase;
    font-family: Georgia, serif;
}
h3 {
    font-family: Georgia, serif;
}

h4 {
    font-family: Georgia, serif;
    font-style: italic;
}

p {
    font-family: Tahoma, sans-serif;   
}
a {
    color: brown;
}